<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/_head') %>
	</head>
	<body>
		<%- include('../partials/_header') %>
		<section>
			<div class="sec">
				<div class="sec__title"><h1>Recettes</h1></div>
				<div class="flexer">
					<div class="cards">
						<div class="cards__title">Entrées</div>
						<div class="cards__recipe--container">
							<% recipes.forEach((recipe) => { %> <%- include('../partials/_recipeItem', {recipe,paper:0})
							%> <% }) %>
						</div>
					</div>
					<div class="cards">
						<div class="cards__title">Plats</div>
						<div class="cards__recipe--container">
							<% recipes.forEach((recipe) => { %> <%- include('../partials/_recipeItem', {recipe,paper:1})
							%> <% }) %>
						</div>
					</div>
					<div class="cards">
						<div class="cards__title">Desserts</div>
						<div class="cards__recipe--container">
							<% recipes.forEach((recipe) => { %> <%- include('../partials/_recipeItem', {recipe,paper:2})
							%> <% }) %>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include('../partials/_footer') %>
	</body>
</html>
